/* General Footer Icon Styles */
 .icon-footer {
     height: auto;
     display: inline-block;
     vertical-align: middle;
}
/* Specific widths for each logo */
 .github-icon {
     width: 30px;
    /* Adjust GitHub icon width */
}
 .cern-icon {
     width: 60px;
    /* Adjust CERN icon width */
}
 .ufjf-icon {
     width: 38px;
    /* Adjust UFJF icon width */
}
 .cnpq-icon {
     width: 75px;
    /* Adjust CNPq icon width */
}
.icon-footer {
    transition: transform 0.2s ease; /* Smooth transition for transform property */
}

.icon-footer:hover {
    transform: scale(1.1); /* Slight scale-up on hover */
}

 .btn-primary:hover {
     background-color: #FFD700;
}
/* Link Styling */
 footer a {
     color: #FFCA28;
    /* Gold yellow */
}
 footer a:hover {
     color: #FFD700;
}
/* Email Input Styling */
 footer input[type="email"] {
     border: 2px solid #FFCA28;
     margin-right: 10px;
}
 footer input[type="email"]:focus {
     outline: none;
     border-color: #FFD700;
}
/* Responsive Layout */
 @media (max-width: 768px) {
     .icon-footer {
         width: 30px;
        /* Smaller icons for mobile */
    }
     footer form {
         display: flex;
         flex-direction: column;
    }
     footer input[type="email"] {
         margin: 0 0 10px 0;
    }
}
/* Creative Commons Icons Styling */
 .cc-icon {
     width: 25px;
     height: auto;
     display: inline-block;
     margin-left: 5px;
    /* Adds a little space between icons */
     vertical-align: middle;
     text-decoration-line: none;
}
/* Link and Text Alignment */
 #license-link {
     display: inline-block;
     vertical-align: middle;
     text-decoration-line: none;
}